<!DOCTYPE html>
<html>
<head>
    <title>Digitall Pill Test App for Alexey S. Kiselev</title>
    <link href="/css/style.css" type="text/css" rel="stylesheet"/>
</head>
<body>
    <div class="dp_container">
        <h1 class="dp_error">404 - Page not found</h1>
    </div>
</body>
</html>
