<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link href="/css/style.css" type="text/css" rel="stylesheet"/>
</head>
<body>
    <div class="dp_container">
        <h1><%= title %></h1>
        <a href="/login" class="dp_button" role="button">
            Go to login page
        </a>
    </div>
</body>
</html>
