<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link href="/css/style.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<div id="dp_container" class="dp_container">
    <h1><%= title %></h1>
    <div class="dp_register_already" id="dp_register_success">
        <div class="dp_information">
            Success! You will redirect to Your profile page after 5 seconds...
        </div>
    </div>
    <form method="post" id="dp_login_form" class="dp_login_form">
        <div id="dp_error_box" class="dp_error_box">
            Error! Enter Your <span id="dp_login_error"></span>
        </div>
        <input type="text" class="dp_input login" id="dp_login_input" name="dp_login_input" value="" placeholder="Enter Your login"/>
        <input type="password" class="dp_input password" id="dp_password_input" name="dp_password_input" value="" placeholder="Enter Your password">
        <a href="#" id="dp_submit_button" class="dp_button" role="button">Submit</a>
        <a href="/register" class="dp_link">Register</a>
    </form>
</div>
<script src="/js/login.js"></script>
</body>
</html>